{#
/**
 * @file
 * UW Drupal Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'hentry',
  'clearfix',
]
%}
<article{{attributes.addClass(classes)}}>
  <header>
    {{ title_prefix }}
    {% if label and not page %}
      <h2{{title_attributes}}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        {% block submitted %}
          <em{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </em>
        {% endblock %}
        {{ metadata }}
      </div>
    {% endif %}
  </header>

  <div{{content_attributes}}>
    <div class="grid row">
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'inset',
          titletag: 'h2',
          title: 'Card example 1',
          color: 'gold',
          body: '<p>Text here...</p>',
          image:
            {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
             alt: 'cupcakes'
             },
          linkurl: '#',
          linktext: 'Get yours today',
          stretched_link: true,
          id: 'DUBS-1243',
        }, with_context = false)
      }}
      </div>
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'inset',
          titletag: 'h2',
          title: 'Card example 2',
          color: 'purple',
          body: '<p>Text here...</p>',
          image:
          {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
            alt: 'cupcakes'
          },
          linkurl: '#',
          linktext: 'Get yours today',
        }, with_context = false)
        }}
      </div>
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'inset',
          titletag: 'h2',
          title: 'Card example 3',
          color: 'white',
          body: '<p>Text here...</p>',
          image:
          {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
            alt: 'cupcakes'
          },
          linkurl: '#',
          linktext: 'Get yours today',
        }, with_context = false)
        }}
      </div>
    </div>
    <div class="grid row">
      <div class="col-sm">
          {{ include('uw_drupal_theme:card', {
            style: 'image-top',
            titletag: 'h2',
            title: 'Card example 4',
            color: 'gold',
            body: '<p>Text here...</p>',
            image:
            {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
              alt: 'cupcakes'
            },
            linkurl: '#',
            linktext: 'Get yours today',
            stretched_link: true,
            id: 'go-dAwgS'
          }, with_context = false)
          }}
        </div>
        <div class="col-sm">
          {{ include('uw_drupal_theme:card', {
            style: 'image-top',
            titletag: 'h2',
            title: 'Card example 5',
            color: 'purple',
            body: '<p>Text here...</p>',
            image:
            {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
              alt: 'cupcakes'
            },
            linkurl: '#',
            linktext: 'Get yours today',
          }, with_context = false)
          }}
        </div>
        <div class="col-sm">
          {{ include('uw_drupal_theme:card', {
            style: 'image-top',
            titletag: 'h2',
            title: 'Card example 6',
            color: 'white',
            body: '<p>Text here...</p>',
            image:
            {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
              alt: 'cupcakes'
            },
            linkurl: '#',
            linktext: 'Get yours today',
          }, with_context = false)
          }}
        </div>
      </div>
    <div class="grid row">
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'no-image',
          titletag: 'h2',
          title: 'Card example 7',
          color: 'gold',
          body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>',
          image:
          {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
            alt: 'cupcakes'
          },
          linkurl: '#',
          linktext: 'Get yours today',
        }, with_context = false)
        }}
      </div>
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'no-image',
          titletag: 'h2',
          title: 'Card example 8',
          color: 'purple',
          body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>',
          image:
          {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
            alt: 'cupcakes'
          },
          linkurl: '#',
          linktext: 'Get yours today',
        }, with_context = false)
        }}
      </div>
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'no-image',
          titletag: 'h2',
          title: 'Card example 9',
          color: 'white',
          body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>',
          image:
          {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
            alt: 'cupcakes'
          },
          linkurl: '#',
          linktext: 'Get yours today',
        }, with_context = false)
        }}
      </div>
    </div>
    <div class="grid row">
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'block',
          titletag: 'h2',
          title: 'Card example 10',
          color: 'gold',
          body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>',
          linkurl: '#',
          linktext: 'Get yours today',
          stretched_link: true,
        }, with_context = false)
        }}
      </div>
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'block',
          titletag: 'h2',
          title: 'Card example 11',
          color: 'white',
          body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>',
          linkurl: '#',
          linktext: 'Get yours today',
        }, with_context = false)
        }}
      </div>
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'text-link',
          titletag: 'h2',
          title: 'Card example 12',
          color: 'white',
          body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>',
          linkurl: '#',
          linktext: 'Get yours today',
        }, with_context = false)
        }}
      </div>
    </div>
    <div class="grid row">
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'step',
          titletag: 'h2',
          title: 'CARD EXAMPLE 13',
          subtitle: 'STEP 1: BE BOUNDLESS',
          icon: 'ic-check',
          body: '<p>Lorem ipsum dolor sit amet, consectetur</p>',
          linkurl: '#',
          linktext: 'For this thing',
        }, with_context = false)
        }}
      </div>
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'step',
          titletag: 'h2',
          title: 'CARD EXAMPLE 14',
          subtitle: 'STEP 2: FOR WASHINGTON',
          icon: 'ic-ticket',
          body: '<p>Lorem ipsum dolor sit amet, consectetur</p>',
          linkurl: '#',
          linktext: 'And that thing',
        }, with_context = false)
        }}
      </div>
      <div class="col-sm">
        {{ include('uw_drupal_theme:card', {
          style: 'step',
          titletag: 'h2',
          title: 'CARD EXAMPLE 15',
          subtitle: 'STEP 3: FOR THE WORLD',
          icon: 'ic-book',
          body: '<p>Lorem ipsum dolor sit amet, consectetur</p>',
          linkurl: '#',
          linktext: 'And the other thing',
        }, with_context = false)
        }}
      </div>
    </div>
    {{ include('uw_drupal_theme:card', {
      style: 'large',
      titletag: 'h2',
      title: 'Add a title!',
      align: 'right',
      color: 'gold',
      body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Go now',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'large',
      titletag: 'h2',
      title: 'Purple card',
      align: 'left',
      color: 'purple',
      body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Read more',
      id: 'anothER-mixED-up-id-4321'
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'large',
      titletag: 'h2',
      title: 'White card',
      align: 'right',
      color: 'white',
      body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Enter',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'half-block-large',
      titletag: 'h2',
      title: 'Add a title!',
      align: 'left',
      color: 'gold',
      body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Go now',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'half-block-large',
      titletag: 'h2',
      title: 'Purple card',
      align: 'right',
      color: 'purple',
      body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Read more',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'half-block-large',
      titletag: 'h2',
      title: 'White card',
      align: 'left',
      color: 'white',
      body: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Enter',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'full-width',
      titletag: 'h2',
      title: 'Really full width card',
      align: 'right',
      color: 'gold',
      body: '<p>Something goes here...</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Do your thing!',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'full-width',
      titletag: 'h2',
      title: 'Really full width card',
      align: 'left',
      color: 'gold',
      body: '<p>Something goes here...</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Do your thing!',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'half-block-full',
      titletag: 'h2',
      title: 'Really full width card',
      align: 'right',
      color: 'gold',
      body: '<p>Something goes here...</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Do your thing!',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'half-block-full',
      titletag: 'h2',
      title: 'Really full width card',
      align: 'left',
      color: 'gold',
      body: '<p>Something goes here...</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Do your thing!',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'full-width',
      titletag: 'h2',
      title: 'Really full width card',
      align: 'right',
      color: 'purple',
      body: '<p>Something goes here...</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Do your thing!',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'full-width',
      titletag: 'h2',
      title: 'Really full width card',
      align: 'left',
      color: 'white',
      body: '<p>Something goes here...</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Do your thing!',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'full-width',
      titletag: 'h2',
      title: 'Really full width card',
      align: 'left',
      color: 'white',
      body: '<p>Something goes here...</p>',
      image:
      {image_url: 'https://uw-s3-cdn.s3.us-west-2.amazonaws.com/wp-content/uploads/sites/207/2022/11/07105209/w-day-cupcakes-300x200-1.jpeg',
        alt: 'cupcakes'
      },
      linkurl: '#',
      linktext: 'Do your thing!',
    }, with_context = false)
    }}
    {{ include('uw_drupal_theme:card', {
      style: 'full-width',
      titletag: 'h2',
      title: 'Testing what media would output',
      align: 'left',
      color: 'white',
      body: '<p>Something goes here...</p>',
      image_block: '/sites/default/files/styles/full_width/public/2025-12/DSC_0015.jpg.webp',
      linkurl: '#',
      linktext: 'Do your thing!',
    }, with_context = false)
    }}




    {{ content }}
  </div>

</article>
