{# Handles output for all card variants. #}
{# Related uw_wp_theme file: /inc/shortcodes/class.cards-shortcode.php #}
{%  if variant and variant != 'default' %}
  {% set variant = variant|replace({'__': '-'}) %}
{% endif %}
{% set card_class = [
    variant is null ? 'default',
    variant is same as 'default' ? 'inset',
    variant is same as 'no-image' ? 'no-image',
    variant is same as 'image-top' ? 'image-top',
    variant is same as 'block' ? 'block-top',
    variant is same as 'text-link' ? 'white text-button',
    variant is same as 'step' ? 'step white text-button',
    variant is same as 'large' ? 'large',
    variant is same as 'half-block-large' ? 'large half-block',
    variant is same as 'full-width' ? 'full-width uw-slant-border',
    variant is same as 'half-block-full' ? 'full-width half-block',
    variant is same as 'half-block-full-width' ? 'full-width half-block',
  ]
%}
{% set text_class = [
    variant is same as 'default' ? 'text-center' : 'text-left',
  ]
%}
{% set card_color = [
    color is same as 'purple' ? 'purple',
    color is same as 'white' ? 'white',
    color is same as 'gold' ? 'lightgold',
    (variant is same as 'block' and color is not same as 'gold') ? 'purple',
    variant is same as 'inset' and color is empty ? 'lightgold',
  ]
%}
{% set button_color = [
    color == 'purple' ? 'light__gold',
    color == 'white' ? 'purple',
    (variant == 'default' and color is empty) ? 'purple',
    (color == 'gold' and variant is not same as 'block') ? 'white'
  ]
%}
{% set link_class = stretched_link ? 'stretched-link' : '' %}
{{ kint(button_color) }}
{% if id %}
{% set card_id = id|lower %}
{% endif %}

{# Set card width for inline style attribute only for these card styles. #}
{% set card_width = variant in ['full-width', 'half-block-full', 'half-block-full-width'] ? '100vw' : '100%' %}

{# Set background image inline style text for large and full-width cards. #}
{% if variant in ['large', 'full-width', 'half-block-large', 'half-block-full', 'half-block-full-width'] %}
{#  {% if image.uri is not empty %}#}
    {% set image_div_style_attributes = { 'background-image:': 'url(' ~ image['#uri'] ~ ')' } %}
{#  {% else %}#}
{#    {% set image_div_style_attributes = {'background-image:': 'url(' ~ file_url(image.urifileuri)  ~ ')'} %}#}
{#  {% endif %}#}
{% set image_div_attributes = create_attribute() %}
  {% for key,value in image_div_style_attributes %}
  {% set image_div_attributes = image_div_attributes.setAttribute('style', {key,value}) %}
  {% endfor %}
{% endif %}

{# We need to generate a random number for the svg id if one of these styles. #}
{% if variant in ['full-width', 'half-block-full', 'half-block-full-width'] %}
  {% set random_number = random(1000) %}
{% endif %}

{# Read in the alignment for large and full width cards and set up classes for them. #}
{% set align_class = [
    (variant in ['large', 'full-width', 'half-block-large', 'half-block-full', 'half-block-full-width'] and align is same as 'left') ? 'img-right',
    (variant in ['large', 'full-width', 'half-block-large', 'half-block-full', 'half-block-full-width'] and align is same as 'right') ? 'img-left',
  ]
%}

{# We need a unique attribute variable to store and add button classes. #}
{% set button_attributes = create_attribute() %}

{%  if variant is same as 'default' %}
{# Output for 'inset' card. #}
<div{{ attributes.addClass('card').addClass(card_class).addClass(text_class).addClass(card_color).setAttribute('id', card_id) }} style="width: {{ card_width }};">
  <div class="card-body">
  <h{{ heading_level }} class="card-title">{{ title }}</h{{ heading_level }}>
  {%  if image %}
    <div class="card-image-inset">{{ image|add_class('card-img','card-image-inset') }}</div>
  {% endif %}
  {{ content }}
  {% if linkurl and linktext %}
    <p class="button">{{ include('uw_drupal_theme:button', { variant: 'primary', link: linkurl, text: linktext, color: button_color }, with_context = false) }}</p>
{#  <p class="button"><a{{ button_attributes.addClass('btn', 'btn-sm', button_color, link_class) }} href="{{ linkurl }}"><span>{{ linktext }}</span></a></p>#}
  {% endif %}
  </div>
</div>

{% elseif variant is same as 'image-top' %}
{# Output for 'image-top' card. #}
<div{{ attributes.addClass('card').addClass(card_class).addClass(text_class).addClass(card_color).setAttribute('id', card_id) }} style="width: {{ card_width }};">
    <div class="card-body">
      <h{{ heading_level }} class="card-title mb-0">{{ title }}</h{{ heading_level }}>
    {%  if image %}
      <div class="card-image-top">{{ image|add_class('card-img','card-img-top') }}</div>
    {% endif %}
    <div class="udub-slant-divider"><span></span></div>
    <div class="card-content">
    {{ content }}
    </div>
    {% if linkurl and linktext %}
      <p class="button"><a{{ button_attributes.addClass('btn', 'btn-lg', 'arrow', button_color, link_class) }} href="{{ linkurl }}"><span>{{ linktext }}</span><span class="arrow-box"><span class="arrow"></span></span></a></p>
  {% endif %}
  </div>
</div>

{% elseif variant is same as 'no-image' %}
{# Output for 'no-image' card. #}
<div{{ attributes.addClass('card').addClass(card_class).addClass(text_class).addClass(card_color).setAttribute('id', card_id) }} style="width: {{ card_width }};">
  <div class="card-body">
    <h{{ heading_level }} class="card-title mb-0">{{ title }}</h{{ heading_level }}>
    <div class="udub-slant-divider"><span></span></div>
    <div class="card-content">
      {{ content }}
    </div>
  {% if linkurl and linktext %}
    <p class="button"><a{{ button_attributes.addClass('btn', 'btn-lg', 'arrow', button_color) }} href="{{ linkurl }}"><span>{{ linktext }}</span><span class="arrow-box"><span class="arrow"></span></span></a></p>
  {% endif %}
  </div>
</div>

{% elseif variant is same as 'block' %}
  {# Output for 'block' card. #}
  <div{{ attributes.addClass('card').addClass(card_class).addClass(text_class).addClass(card_color).setAttribute('id', card_id) }} style="width: {{ card_width }};">
    <h{{ heading_level }} class="card-title">{{ title }}</h{{ heading_level }}>
    <div class="card-body">
      <div class="card-content">
        {{ content }}
      </div>
      {% if linkurl and linktext %}
      <p class="button"><a{{ button_attributes.addClass('btn', 'btn-sm', button_color, link_class) }} href="{{ linkurl }}"><span>{{ linktext }}</span></a></p>
      {% endif %}
  </div>
</div>

{% elseif variant is same as 'text-link' %}
{# Output for 'text-link' card. #}
<div{{ attributes.addClass('card').addClass(card_class).addClass(text_class).addClass(card_color).setAttribute('id', card_id) }} style="width: {{ card_width }};">
  <div class="card-body">
    <h{{ heading_level }} class="card-title mb-0">{{ title }}</h{{ heading_level }}>
    <div class="udub-slant-divider"><span></span></div>
    <div class="card-content">
      {{ content }}
    </div>
    {% if linkurl and linktext %}
      <p><a class="link-arrow-box" href="{{ linkurl }}"><span>{{ linktext }}</span><span class="arrow-box"><span class="arrow"></span></span></a></p>
    {% endif %}
  </div>
</div>

{% elseif variant is same as 'step' %}
  {# Output for 'step' card. #}
  <div{{ attributes.addClass('card').addClass(card_class).addClass(text_class).addClass(card_color).setAttribute('id', card_id) }} style="width: {{ card_width }};">
    <div class="card-body">
      <h{{ heading_level }} class="card-title mb-0">{{ title }}</h{{ heading_level }}>
    {% if subtitle %}
      <div class="subtitle">{{ subtitle }}</div>
    {% endif %}
    {% if icon %}
      <div class="icon {{ icon }}" aria-hidden="true"></div>
    {% endif %}
    <div class="udub-slant-divider"><span></span></div>
    <div class="card-content">
      {{ content }}
    </div>
    {% if linkurl and linktext %}
      <p class="link-with-arrow-box"><a class="link-arrow-box" href="{{ linkurl }}"><span>{{ linktext }}</span><span class="arrow-box"><span class="arrow"></span></span></a></p>
    {% endif %}
  </div>
</div>

{% elseif variant in ['large', 'half-block-large'] %}
{# Output for 'large' and 'half-block-large' cards. #}
<div{{ attributes.addClass('card').addClass(card_class).addClass(text_class).addClass(card_color).addClass(align_class).setAttribute('id', card_id) }} style="width: {{ card_width }};">
  <div{{ image_div_attributes.addClass('image-large') }}></div>
  <div class="card-body">
    <div class="inner-card-body">
      <h{{ heading_level }} class="card-title">{{ title }}</h{{ heading_level }}>
      {{ content }}
    {% if linkurl and linktext %}
      <p class="button"><a{{ button_attributes.addClass('btn', 'btn-lg', 'arrow', button_color) }} href="{{ linkurl }}"><span>{{ linktext }}</span><span class="arrow-box"><span class="arrow"></span></span></a></p>
    {% endif %}
    </div>
  </div>
</div>

{% elseif variant in ['full-width', 'half-block-full', 'half-block-full-width'] %}
{# Output for 'full-width', 'half-block-full' and 'half-block-full-width' cards. #}
<div{{ attributes.addClass('card').addClass(card_class).addClass(text_class).addClass(card_color).addClass(align_class).setAttribute('id', card_id) }} style="width: {{ card_width }};">
  <div{{ image_div_attributes.addClass('image-large') }}></div>
  <div class="card-body">
    <div class="inner-card-body">
      <h{{ heading_level }} class="card-title">{{ title }}</h{{ heading_level }}>
      {{ content }}
      {% if linkurl and linktext %}
      <p class="button"><a{{ button_attributes.addClass('btn', 'btn-lg', 'arrow', button_color) }} href="{{ linkurl }}"><span>{{ linktext }}</span><span class="arrow-box"><span class="arrow"></span></span></a></p>
      {% endif %}
    </div>
  </div>
  <div>
  <svg class="slant-pattern">
    <defs>
      <pattern id="pattern-stripe-{{ random_number  }}" width="14" height="10" patternUnits="userSpaceOnUse" patternTransform="rotate(15)">
        <rect width="1" height="10" transform="translate(0,0)" fill="white"></rect>
      </pattern>
      <mask id="mask-stripe"><rect x="0" y="0" width="100%" height="100%" fill="url(#pattern-stripe-{{ random_number }})" /></mask>
    </defs>
    <rect class="hbar purple-lines" x="0" y="0" width="100%" height="100"></rect>
    </svg>
  </div>
</div>
{% endif %}
